---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import Header from "../../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section class="!min-h-0 py-12">
        <ul class="w-full max-w-2xl mx-auto px-4 sm:px-0 space-y-6">
          {
            posts.map((post) => (
              <li>
                <a href={`/blog/${post.id}/`} class="block">
                  {post.data.heroImage && (
                    <Image
                      width={720}
                      height={360}
                      src={post.data.heroImage}
                      alt=""
                      class="rounded-lg mb-3"
                    />
                  )}
                  <h4 class="title text-lg sm:text-xl">{post.data.title}</h4>
                  <p class="date text-sm text-secondary-light dark:text-secondary-dark">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
