---
type URL = `https://github.com/${string}/pull/${number}`;

interface Contribution {
  project: string;
  projectUrl: string;
  url: URL[];
}

const contributions: Contribution[] = [
  {
    project: "ng-icons",
    projectUrl: "https://github.com/ng-icons/ng-icons",
    url:[
      "https://github.com/ng-icons/ng-icons/pull/202"
    ]
  },
  {
    project: "free-Code-Camp",
    projectUrl: "https://github.com/freeCodeCamp/freeCodeCamp",
    url: ["https://github.com/freeCodeCamp/freeCodeCamp/pull/62576"],
  },
  {
    project: "carbon-components-angular",
    projectUrl:
      "https://github.com/carbon-design-system/carbon-components-angular",
    url: [
      "https://github.com/carbon-design-system/carbon-components-angular/pull/2945",
      "https://github.com/carbon-design-system/carbon-components-angular/pull/2939",
      "https://github.com/carbon-design-system/carbon-components-angular/pull/2789",
      "https://github.com/carbon-design-system/carbon-components-angular/pull/2764",
      "https://github.com/carbon-design-system/carbon-components-angular/pull/2748",
      "https://github.com/carbon-design-system/carbon-components-angular/pull/2741",
      "https://github.com/carbon-design-system/carbon-components-angular/pull/2740",
    ],
  },
];
---

<section>
  <h2 class="text-xl sm:text-2xl font-semibold mb-4">
    Open Source Contributions
  </h2>
  <ul class="space-y-3">
    {
      contributions.map((contribution: Contribution) => (
        <li>
          <a
            href={contribution.projectUrl}
            target="_blank"
            rel="noopener noreferrer"
            class="font-medium hover:underline decoration-wavy underline-offset-4"
          >
            {contribution.project.toUpperCase()} 🔗
          </a>
        </li>
        <li>
          {contribution.url.map((url) => (
            <a
              href={url}
              target="_blank"
              rel="noopener noreferrer"
              class="text-green-600 hover:underline break-all block underline-offset-2"
            >
              {url}
            </a>
          ))}
        </li>
      ))
    }
  </ul>
</section>
